.container {
  padding: 0 2rem;
  margin-top: 5px;
}

.main {
  min-height: 80vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #622010;
}

.obs {
  font-style: italic;
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
}

.btn_cardapio {
  font-size: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #622010;
  color: #fef6ad;
  border-radius: 10px;
  width: 200px; 
  height: 50px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #622010;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: bold;
  color: #622010;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-style: italic;
  margin-top: 20px;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  font-style: italic;
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
